/*-- scss:defaults --*/


// Bootstrap variables
$primary: #d63384 ;
$secondary: #6c757d ;

/*-- scss:rules --*/

// Apply colors globally
:root {
  --bs-primary: #ff6fa5;
  --bs-secondary: #ffffff;
}

// Background + text
body {
  background-color: #fff0f6 !important;
  color: #2b1b23;
}

// Navbar
.navbar {
  background-color: #ff6fa5 !important;
}

// Links
a {
  color: white !important;
}

// Buttons
.btn-primary {
  background-color: #d63384 !important;
  border-color: #d63384 !important;
  color: white !important;
}

// Headings
h1, h2, h3 {
  color: #b0256f !important;
}

// Navbar dropdown text
.navbar .dropdown-menu a {
  color: #2b1b23;
}

// Hover effect
.navbar .dropdown-menu a:hover {
  color: white;
  background-color: #ff6fa5;
}




